@font-face {
  font-family: 'Cartridge Bold';
  src:  url('fonts/cartridge/Cartridge-Bold.woff2') format('woff2'),
        url('fonts/cartridge/Cartridge-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Cartridge Bold Rough';
  src:  url('fonts/cartridge/Cartridge-BoldRough.woff2') format('woff2'),
        url('fonts/cartridge/Cartridge-BoldRough.woff') format('woff');
}
@font-face {
  font-family: 'Cartridge Regular';
  src:  url('fonts/cartridge/Cartridge-Regular.woff2') format('woff2'),
        url('fonts/cartridge/Cartridge-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Cartridge Rough';
  src:  url('fonts/cartridge/Cartridge-Rough.woff2') format('woff2'),
        url('fonts/cartridge/Cartridge-Rough.woff') format('woff');
}
